# Specify filepatterns you want git to ignore.
*.pyc
*~
v/
.misc/
webui/templates/uploads/
webui/uploads/
webui/static/profile_pics/
*.log
*.sublime-project
webui/__pycache__/*
.venv/*
*.pyc
*.txt
.viminfo
webui/__pycache__/*.*
.misc