{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
    {% for key,value in active.items() %}
          <div class="media-body">
            <div class="article-metadata">
		    <a class="mr-4" "#">{{ key }} : {{ value }}</a>
	    </div>
    {% endfor %}    
	</article>
    <div class="container">
            <article class="media content-section">
	    {% for line in final_CSVresults %}
          	<div class="media-body">
            	<div class="article-metadata">
			<a class="mr-2" "#">{{ line }}</a>
	    </div>
	  </div>
	{% endfor %}
	    </article>
    </div>
{% endblock content %}

