{% extends "layout.html" %}
{% block content %}
  <div class="small content-section">
    <p class="h3">
        Create a new device
        <small class="text-muted"> in inventory</small>
    </p>
  </div>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
  <div class="form-row">
    <div class="form-group col-sm-4">
      <label for="device_name">Device Name</label>
      <input type="text" class="form-control" id="device_name">
    </div>
    <div class="form-group col-sm-4">
      <label for="device_host_ip">Device Hostname/IP</label>
      <input type="text" class="form-control" id="device_host_ip">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-4">
        <label for="device_user">Device Username</label>
        <input type="text" class="form-control" id="device_user" placeholder="must be priv-15 level account.">
    </div>
    <div class="form-group col-sm-4">
        <label for="device_pass">Device Password</label>
        <input type="password" class="form-control" id="device_pass" placeholder="I will close my eyes while you type.....">
    </div>
  </div>
    <div class="form-row">
      <div class="form-group col-sm-8">
        <label for="content">Desciption/Notes</label>
          <textarea class="form-control" id="content" rows="3"></textarea>
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-4">
      <label for="device_type">Device Type</label>
      <select id="device_type" class="form-control">
        <option selected>Choose...</option>
        <option>9800WLC</option>
      </select>
    </div>
  </div>
  <div class=>
      <div class="col-sm-2 form-group">
          <div container>
            <button type="submit" class="btn btn-primary">Create It!</button>
          </div>
        </div>
      </div>
</form>
{% endblock content %}

