{% extends "layout.html" %}
{% block content %}
{% for import in imports %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + import.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ import.author.username }}</a>
              <small class="text-muted"><b>Date Imported: </b>{{ import.date_posted.strftime('%y-%m-%d') }} <b>Import ID: </b>{{ import.id  }}</small>
            </div>
            <h5>
		    <a class="article-title" href="{{ url_for('imports', import_id=import.id) }}">{{ import.filename }}</a></h5>
<!--             <p class="article-content">{{ import.filename }}</p>-->
          </div>
        </article>
    {% endfor %}
{% endblock content %}
