<table border="0" class="dataframe table-striped">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>AP Name</th>
      <th>AP MAC Address</th>
      <th>Policy Tag Name</th>
      <th>Site Tag Name</th>
      <th>RF Tag Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>NUTTER.BUTTER1</td>
      <td>683b:78:2b:o8:b2</td>
      <td>test-pol-tag</td>
      <td>test-site-tag</td>
      <td>rf-tag</td>
    </tr>
    <tr>
      <th>1</th>
      <td>dllstxatapn01v281a</td>
      <td>6c8b.d3fe.7afc</td>
      <td>main</td>
      <td>siteA</td>
      <td>rf-24g</td>
    </tr>
    <tr>
      <th>2</th>
      <td>SithLord.MeetingRm.AP1</td>
      <td>5c5ac7f07716</td>
      <td>guest</td>
      <td>SiteA</td>
      <td>rf-low24g</td>
    </tr>
    <tr>
      <th>3</th>
      <td>my.ap.101</td>
      <td>5c5a.c7f0.7c24</td>
      <td>main</td>
      <td>siteA</td>
      <td>rf-24g</td>
    </tr>
    <tr>
      <th>4</th>
      <td>DarthVaderConfRoom</td>
      <td>78bc.1adb.c70e</td>
      <td>main</td>
      <td>siteA</td>
      <td>rf-24g</td>
    </tr>
    <tr>
      <th>5</th>
      <td>AP.Padawan.Learner1</td>
      <td>a453.0eb4.b040</td>
      <td>guest</td>
      <td>SiteA</td>
      <td>rf-low24g</td>
    </tr>
    <tr>
      <th>6</th>
      <td>ap.TheseAre.NotTheDroids.YouAreLooking4</td>
      <td>a453.0edd.8058</td>
      <td>guest</td>
      <td>SiteA</td>
      <td>rf-low24g</td>
    </tr>
    <tr>
      <th>7</th>
      <td>ap.Blue.Milk.2</td>
      <td>a453.0edd.8f88</td>
      <td>main</td>
      <td>siteA</td>
      <td>rf-24g</td>
    </tr>
    <tr>
      <th>8</th>
      <td>ap.DeathStar.DetentionLevel.6</td>
      <td>dc8c.372a.2aaa</td>
      <td>main</td>
      <td>siteA</td>
      <td>rf-24g</td>
    </tr>
    <tr>
      <th>9</th>
      <td>AP.Black.Pearl.Conf1</td>
      <td>78bc.1adb.cb1c</td>
      <td>main</td>
      <td>siteA</td>
      <td>rf-24g</td>
    </tr>
    <tr>
      <th>10</th>
      <td>AP.Flying.Dutchman.Lobby2</td>
      <td>78bc.1adb.cdca</td>
      <td>main</td>
      <td>siteA</td>
      <td>rf-5g</td>
    </tr>
  </tbody>
</table>