<table border="0" class="dataframe table-striped">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>AP Name</th>
      <th>AP MAC Address</th>
      <th>Policy Tag Name</th>
      <th>Site Tag Name</th>
      <th>RF Tag Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Oreo.Cookie2</td>
      <td>78bc.1ab3.c8fc</td>
      <td>test-pol-tag</td>
      <td>test-site-tag</td>
      <td>test-rf-tag</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mars.Bar.AP19</td>
      <td>78bc.1adb.c744</td>
      <td>test-pol-tag</td>
      <td>test-site-tag</td>
      <td>test-rf-tag</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Baby.Ruth.AP11</td>
      <td>5c5a.c7f0.7716</td>
      <td>test-pol-tag</td>
      <td>test-site-tag</td>
      <td>test-rf-tag</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Hoth.Icecream.shop</td>
      <td>5c5a.c7f0.76f2</td>
      <td>test-pol-tag</td>
      <td>test-site-tag</td>
      <td>test-rf-tag</td>
    </tr>
    <tr>
      <th>4</th>
      <td>AP_a453.0eb4.b040</td>
      <td>a453.0eb4.b040</td>
      <td>test-pol-tag</td>
      <td>test-site-tag</td>
      <td>test-rf-tag</td>
    </tr>
    <tr>
      <th>5</th>
      <td>AP_a453.0edd.8f88</td>
      <td>a453.0edd.8f88</td>
      <td>test-pol-tag</td>
      <td>test-site-tag</td>
      <td>test-rf-tag</td>
    </tr>
    <tr>
      <th>6</th>
      <td>AP_dc8c.372a.2e1e</td>
      <td>dc8c.372a.2e1e</td>
      <td>test-pol-tag</td>
      <td>test-site-tag</td>
      <td>test-rf-tag</td>
    </tr>
  </tbody>
</table>