<table border="0" class="dataframe table-danger">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>AP MAC Address</th>
      <th>Error</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>dc8c.yyyy.2e1e</td>
      <td>Error: Unable to normalize MAC Address.</td>
    </tr>
    <tr>
      <th>1</th>
      <td>a453.zzzz.8f88</td>
      <td>Error: Unable to normalize MAC Address.</td>
    </tr>
    <tr>
      <th>2</th>
      <td>683b.782b.o8b2</td>
      <td>Error: Unable to normalize MAC Address.</td>
    </tr>
  </tbody>
</table>