{% extends "layout.html" %}
{% block content %}
<div class="container">
  <p class=md-2>
    <h3>AP Renaming Flow</h3>
  </p>
    <div class="md">
    <h5 class="text muted">Allows for the renaming of access points in bulk whether they are managed on 1 WLC or multiple WLCs via DNA Center. Import a CSV with the desired target AP MACs and new names to get started."</h5>
        <article class="media content-section">
          <div class="media-body">

          </div>
        </article>
{% endblock content %}
