<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="main.css") }}">

  {% if title %}
    <title>{{ title }} : Dino Net Automation Tools by --..C5dev..--</title>
  {% else %}
    <title> Dino Net Automation Tools by --..C5dev..--</title>
  {% endif %}
</head>
<body>
  <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Dino NAT</a>
      <small class="text-muted">network automation tools</small>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
	{% if current_user.is_authenticated %}
	<a class="nav-item nav-link" href="{{ url_for("home") }}">Home</a>
	<a class="nav-item nav-link" href="{{ url_for("dashboard") }}">Dashboard</a>          		<a class="nav-item nav-link" href="{{ url_for("import_csv") }}">Import CSV</a>
	  <a class="nav-item nav-link" href="{{ url_for("new_post") }}">New Post</a>
	{% else %}
	  <a class="nav-item nav-link" href="{{ url_for("home") }}">Home</a>
	  <a class="nav-item nav-link" href="{{ url_for("about") }}">About</a>
	{% endif %}
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
	{% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
{% if current_user.is_authenticated %}
<div class="fixed-bottom">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
{% endif %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </div>
    <div class="col-md-4">
      <div class="content-section">
        <h3>Shall We??</h3>
	<span class='text-muted'>Intent Based Workflows</span>
		<small class="text-muted">for IOS-XE Wireless Platform</small>
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Bulk Rename APs</li>
	    <li class="list-group-item list-group-item-light">Bulk Tag APs</li>
	     <li class="list-group-item list-group-item-light">DNA-C Flows</li>
	      <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>

	    <li class="list-group-item list-group-item-light">About | Contact
	    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
</svg>
	    </li>
	  </ul>
        </p>
      </div>
    </div>
  </div>
</main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
